@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #232330;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
